@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100;200;300;400;500;700;800;900&display=swap');

body {
    color: #000;
    font-family: 'Arima Madurai', Courier, monospace;
}

.logo {
    font-family: 'Arima Madurai', Courier, monospace;
    font-size: 3rem;
    font-weight: 900;
}

#nav__items {
    color: #fff;
}

.nav__item {
    font-size: 1.7rem;
    font-weight: 700;
}

.tagline {
    font-family: 'Arima Madurai', Courier, monospace;
    font-size: .8rem;
    font-weight: 200;
}

.social__links {
    text-align: center;
}

.social__icon {
    padding-left: 3px;
    padding-right: 3px;
}