@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100;200;300;400;500;700;800;900&display=swap');

/* Utility classes */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.center-align {
    text-align: center;
}

body {
    background-color: #fff;
    color: #000;
    font-family: 'Arima Madurai', Courier, monospace;
}

/* base template */

.logo {
    font-family: 'Arima Madurai', Courier, monospace;
    font-size: 3rem;
    font-weight: 900;
}

#nav__items {
    color: #fff;
}

.nav__item {
    font-size: 1.7rem;
    font-weight: 700;
}

.tagline {
    font-family: 'Arima Madurai', Courier, monospace;
    font-size: .8rem;
    font-weight: 200;
}

.social__links {
    text-align: center;
}

.social__icon {
    padding-left: 3px;
    padding-right: 3px;
}

/* register template */

.signup__title {
    font-family: 'Arima Madurai', Courier, monospace;
    font-size: 2rem;
    font-weight: 800;
}

.signup__btn {
    background-color: #27fb6b;
    color: #000;
    font-weight: 900;
    font-size: 1.2rem;
}

.flashed-message {
    line-height: 2;
    font-family: 'Arima Madurai', Courier, monospace;
}

.redirect-signup {
    bottom: 26%;
}

.redirect-login {
    top: 90%;
}

.signup-text {
    margin-right: 60px;
}

.login-text {
    margin-right: 60px;
}

/* profile page */

.profile__image {
    margin: 0 auto;
    border-radius: 50%;
    object-fit: cover;
    width: 300px;
    height: 300px;
}

/* posts page */

.hero__text {
    font-size: 4.5rem;
    font-weight: 900;
}