@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Utility classes */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.center-align {
    text-align: center;
}

body {
    background-color: #f6f6f5;
    color: #000;
    font-family: 'Philosopher', Courier, monospace;
    font-weight: 300;
    height: 100vh;

}

.link:visited,
.link:hover,
.link:active {
    color: #f6f6f5;
    text-decoration: none;
}

/* base template */

.uk-navbar-container:not(.uk-navbar-transparent) {
    background-color:#2d3028;
    color: #f6f6f5;
}

.search__icon {
    color: #f6f6f5;
}

.logo {
    font-family: 'Philosopher', Courier, monospace;
    font-size: 3rem;
    font-weight: 700;
    color: #f6f6f5;
}

#nav__items {
    color: #f6f6f5;
}

.nav__item {
    font-size: 1.7rem;
    font-weight: 300;
} 

.offcanvas__nav {
    background-color: #2d3028;
}

.tagline {
    font-family: 'Philosopher', Courier, monospace;
    font-size: .8rem;
    font-weight: 200;
}

.social__links {
    text-align: center;
}

.social__icon {
    padding-left: 3px;
    padding-right: 3px;
}

.footer {
    padding: 30px 0 30px 0;
    background-color: #2e3029;
    margin-top: 8rem;
}

/* index template */

.hero__text {
    font-size: 5.3rem;
    font-weight: 800;
    font-family: 'Roboto Slab', Courier, monospace;
}

.main__content {
    background-color: #2e3029;
    padding: 5rem 5rem;
    margin-left: 1px
}

.created-by__text,
.title__text {
    font-family: 'Philosopher', Courier, monospace;
}

/* register template */

.signup__title {
    font-family: 'Philosopher', Courier, monospace;
    font-size: 2rem;
    font-weight: 300;
}

.signup__btn {
    background-color: #27fb6b;
    color: #000;
    font-weight: 300;
    font-size: 1.2rem;
}

.flashed-message {
    line-height: 2;
    font-family: 'Philosopher', Courier, monospace;
}

.redirect-signup {
    bottom: 26%;
}

.redirect-login {
    top: 90%;
}

.signup-header-text,
.redirect-signup,
.signup__title,
.redirect-login {
    color: #000;
}

.input__text {
    color: #000;
}

/* profile template */

.welcome__title {
    font-size: 2.5rem;
    font-weight: 900;
    font-family: 'Philosopher', Courier, monospace;
}

.profile__image {
    border-radius: 50%;
    object-fit: cover;
    width: 300px;
    height: 300px;
}

.image__overlay {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    
}

.upload__icon {
    border: none;
}

.profile-image-div {
    border: none;
}

.create__btn {
    width: 15rem;
    height: 4rem;
    font-size: 2rem;
    font-weight: 900;
    text-decoration: none;
}

.your-posts__title {
    font-size: 2rem;
    font-weight: 900;
    font-family: 'Philosopher', Courier, monospace;
}

.preview__title {
    font-family: 'Philosopher', Courier, monospace;
    font-size: 1.5rem;
    font-weight: 900;
}

.your-posts__btn {
    width: 15rem;
    height: 4rem;
    font-size: 1rem;
    font-weight: 900;
    text-decoration: none;
}

.your-posts__btn:hover {
    color: #fff;
}

/* about template */

.our-team__header {
    font-family: 'Philosopher', Courier, monospace;
}

.member__image {
    margin: 0 auto;
    border-radius: 50%;
    object-fit: cover;
}

.member__header {
    font-family: 'Philosopher', Courier, monospace;
}

.member__description {
    margin-top: 100px;  
}
/* contact template */

.contact__background {
    background-color:  #f6f6f5;
}

/* your posts template */

.your-posts__header {
    font-family: 'Philosopher', Courier, monospace;
    font-size: 3rem;
    font-weight: 900;
}

.post__title {
    font-family: 'Philosopher', Courier, monospace;
    font-size: 3rem;
    font-weight: 900;
}