<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Send It Blog</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/uikit@3.6.13/dist/css/uikit.min.css"
    />
    <link 
      rel="stylesheet" 
      href="{{ url_for('static', filename='css/dropzone.min.css') }}" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    {% block styles %} {% endblock%}
  </head>

  <body>
    <!-- Navbar -->
    <header>
      <nav class="uk-navbar-container uk-margin-large-bottom navbar" uk-navbar>
        <div>
            <a class="uk-navbar-toggle uk-margin-small-left" uk-search-icon href="#"></a>
            <div class="uk-drop" uk-drop="mode: click; pos: right-center; offset: 0">
                <form action="{{ url_for('search') }}" method="POST" class="uk-search uk-search-navbar uk-width-1-2">
                    <input class="uk-search-input" name="query" id="query" minlength="3" type="search" placeholder="Search..." autofocus required>
                    <label for="query"></label>
                </form>
            </div>
        </div>
        <a class="uk-navbar-item uk-navbar-center uk-logo logo" href="{{ url_for('get_posts') }}">SEND IT...</a>  
        <a href="#offcanvas-slide" class="uk-position-center-right uk-margin-medium-right" uk-toggle uk-icon="icon: menu; ratio: 2;"></a>

        <div id="offcanvas-slide" uk-offcanvas="flip: true; mode: reveal;">
          <div class="uk-offcanvas-bar">
            <ul class="uk-nav" id="nav__items">
              <li><a href="{{ url_for('get_posts') }}" class="nav__item">HOME</a></li>
              <hr class="uk-divider-small uk-margin-small">
              <li><a href="#" class="nav__item">ABOUT</a></li>
              <hr class="uk-divider-small uk-margin-small">
              <li><a href="#" class="nav__item">CONTACT</a></li>
              <hr class="uk-divider-small uk-margin-small">
              {% if session.user %}
                <li><a href="{{ url_for('profile', username=session['user']) }}" class="nav__item">PROFILE</a></li>
                <hr class="uk-divider-small uk-margin-small">
                <li><a href="{{ url_for('logout') }}" class="nav__item">LOG OUT</a></li>
                <hr class="uk-divider-small uk-margin-small">
              {% else %}
                <li><a href="{{ url_for('login') }}" class="nav__item">LOG IN</a></li>
                <hr class="uk-divider-small uk-margin-small">
                <li><a href="{{ url_for('register') }}" class="nav__item">SIGN UP</a></li>
                <hr class="uk-divider-small uk-margin-small">
              {% endif %}

              <div class="social__links uk-margin-large-top">
                <a href="" class="social__icon" uk-icon="icon: github; ratio: 1.5;"></a>
                <a href="" class="social__icon" uk-icon="icon: linkedin; ratio: 1.5;"></a>
                <a href="" class="social__icon" uk-icon="icon: instagram; ratio: 1.5;"></a>
              </div>
              <p class="tagline">A Tastemakers Take On Music & Culture</p>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Flash messages displayed here! -->
    <section>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="flashes">
                        <h4 class="center-align flashed-message">{{ message }}</h4>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>

    <!-- Main Content -->
    <main class="uk-flex-center" uk-grid>
      {% block content %}
      {% endblock %}
    </main>
    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.13/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.13/dist/js/uikit-icons.min.js"></script>
    <script src="{{ url_for('static', filename='js/dropzone.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    {% block scripts %} {% endblock%}
  </body>
</html>
