{% extends "base.html" %}
{% block content %}

<div class="uk-flex-column center-align edit-post__container" uk-grid>
    <div>
        <h3 class="edit-post__header">Edit Post</h3>
    </div>
    <div>
        <form method="POST" action="{{ url_for('edit_post', post_id=post._id) }}" enctype="multipart/form-data">
            <fieldset class="uk-fieldset">
                <!-- post title input -->
                <div class="uk-margin">
                    <label for="post_title">Post Title</label>
                    <input class="uk-input" name="post_title" id="post_title" minlength="5" maxlength="35" value="{{ post.post_title }}" type="text" placeholder="Post Title" required/>
                </div>
                <!-- post preview input -->
                <div class="uk-margin">
                    <label for="post_preview">Post Preview</label>
                    <input class="uk-input" name="post_preview" id="post_preview" value="{{ post.post_preview }}" minlength="5" maxlength="100" type="text" placeholder="Post Preview" required/>
                </div>
                <!-- content text input  -->
                <div class="uk-margin">
                    <label for="post_content">Post Content</label>
                    <textarea
                    class="uk-textarea"
                    rows="15"
                    name="post_content" id="post_content"
                    placeholder="Post Content"
                    required>{{- post.post_content -}}</textarea>
                </div>

                <!-- Cancel button -->
                <a href="{{ url_for('get_posts') }}" class="uk-button uk-button-danger uk-border-rounded">Cancel Edit</a>
                <!-- Edit button -->
                <button class="uk-button uk-button-secondary uk-border-rounded uk-margin">Edit Post!</button>
            </fieldset>
        </form>
    </div>
</div>



{% endblock %}