{% extends "base.html" %}
{% block content %}

<div class="uk-flex-column center-align post__container" uk-grid>
    <article class="uk-article">

    <h1 class="uk-article-title post__title"><a class="uk-link-reset" href="">{{ post.post_title }}</a></h1>

    <p class="uk-article-meta created__by">Written by {{ post.created_by }}</p>

    <img data-src="{{ post.photo_url }}" width="750" height="575" alt="Image of SZA" uk-img>

    <p class="uk-text-lead post__preview">{{ post.post_preview }}</p>

    <p class="post__content">{{ post.post_content }}</p>

    

</article>
</div>



{% endblock %}