{% extends "base.html" %}
{% block content %}

<!-- container -->
<div class="uk-flex-column center-align post__container" uk-grid>
    <article class="uk-article">
    <!-- article header -->
    <h1 class="uk-article-title post__title"><a class="uk-link-reset" href="">D’Angelo’s VERZUZ: Here’s What Happened</a></h1>
    <!-- article author text -->
    <p class="uk-article-meta created__by">Written by Allison Hussey</p>
    <!-- article image -->
    <img data-src="https://res.cloudinary.com/ivanprojects/image/upload/v1614919530/send-it-images/maxresdefault_v5s52j.jpg" width="750" height="575" alt="Image of Post Subject" uk-img>
    <!-- article preview text -->
    <p class="uk-text-lead post__preview">He broke from the program’s format, leading as a solo artist with appearances from Method Man, Redman, and H.E.R.</p>
    <!-- article content -->
    <p class="post__content">D’Angelo headlined a VERZUZ event live from the Apollo Theater on February 27, taking the stage as a solo performer with DJ Scratch with other collaborators. His set broke from the typical VERZUZ format: Previous events have so far been one-on-one battles with occasional surprise guests, like Dionne Warwick dropping in on Gladys Knight and Patti LaBelle last year. Noting the change of style, D’Angelo opened with new material joined by trumpeter Keyon Harrold before covering Smokey Robinson’s “Cruisin’.” Method Man and Redman came out for “Left & Right” before Method Man took the lead for “Break Ups 2 Make Ups.”</p>

    <p>After working through a few tracks from 2014’s Black Messiah, D’Angelo noted that he’d gotten his professional start after winning an amateur night competition at the Apollo as a teenager. The 2019 documentary Devil’s Pie claimed that he’s been working on the follow-up to Black Messiah. D’Angelo continued through his catalog, running through favorites from Voodoo and Brown Sugar like “One Mo’ Gin,” “Jonz in My Bonz,” and “Another Life.”</p>

    <p>After “Brown Sugar,” H.E.R. came out onstage, first performing her Daniel Caesar collaboration “Best Part” before the pair duetted on Lauryn Hill’s “Nothing Even Matters.” He closed his set with “Untitled (How Does It Feel),” keeping on his oversize fur coat throughout.</p>
</article>
</div>



{% endblock %}