{% extends "base.html" %}

{% block styles %} 

<link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/login.css') }}"
    />

{% endblock%}

{% block content %}

<div class="uk-flex login__container uk-flex-center uk-flex-middle" uk-grid>
    <div class="uk-flex-center uk-flex-middle uk-card uk-card-default uk-card-body uk-align-center uk-border-rounded form__card">
        <!-- form header -->
        <h3 class="uk-card-title center-align signup__title">WELCOME BACK!</h3>

        <!-- form content -->
        <form class="center-align" method="POST" action="{{ url_for('login') }}">

        <!-- username -->
            <div class="uk-margin">
                <div class="uk-inline input__text">
                    <label for="username">Username</label>
                    <input class="uk-input uk-border-rounded" type="text" id="username" name="username" placeholder="Enter Username" required>
                </div>
            </div>
        <!-- password -->
            <div class="uk-margin">
                <div class="uk-inline input__text">
                    <label for="password">Password</label>
                    <input class="uk-input uk-border-rounded" minlength="5" maxlength="15" type="password" id="password" name="password" placeholder="Enter A Password" required>
                </div>
            </div>
        <!-- log in button -->
            <button class="uk-button uk-border-rounded signup__btn">LOG IN</button>
        </form>
        <p class="redirect-signup uk-margin-top center-align">
            Want to join us? <a href="{{ url_for('register') }}" class="signup-text uk-text-italic">Sign Up Here</a>
        </p>
    </div>
</div>

{% endblock %}