{% extends "base.html" %} {% block content %}

<div class="center-align uk-width-1-1">
    <h1 class="welcome__title">Welcome back, {{ username }}</h1>
</div>

<div class="uk-flex container uk-width-1-1" uk-grid>

    <section class="profile__section uk-flex uk-flex-column uk-width-1-2 uk-align-center">
        <div class="profile-image-div uk-transition-toggle uk-inline tabindex='0' uk-align-center">
            <img data-src="/static/images/blog-images/jazmine.jpg" class="profile__image" alt="Profile picture of user" uk-img/>
            <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-transition-slide-bottom-small image__overlay uk-align-center uk-flex-middle">
                <a href="#image-modal" class="uk-button uk-button-default uk-position-center upload__icon" uk-icon="icon: upload; ratio: 2" uk-toggle></a>
                <div id="image-modal" class="uk-flex-top" uk-modal>
                    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                        <button class="uk-modal-close-default" type="button" uk-close></button>
                        <div class="uk-modal-header">
                            <h2 class="uk-modal-title">Edit Profile Picture</h2>
                        </div>
                        <div class="uk-modal-body">
                            <form method="post" enctype="multipart/form-data">
                                <input type="file" name="files[]" multiple>
                                <input type="submit" value="Upload Files" name="submit">
                            </form>
                        </div>
                        <div class="uk-modal-footer uk-text-right">
                            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                            <button class="uk-button uk-button-primary" type="button">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-align-center uk-flex">
            <button class="create__btn uk-text-middle uk-flex-middle uk-button uk-margin-small uk-border-rounded uk-button-secondary"><a href="{{ url_for('create_post') }}" class="link">CREATE</a></button>
        </div>
    </section>

    <section class="uk-width-1-2 uk-flex uk-flex-column uk-align-center your-posts__section">
        <h2 class="your-posts__title center-align">Your Posts</h2>
        <div class="your-posts__content uk-flex center-align">
            {% for post in posts %}
            <div class="uk-card uk-card-default uk-margin-auto uk-flex-center uk-flex-row uk-width-1-4">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <h3 class="uk-card-title uk-margin-remove-bottom preview__title">{{ post.post_title }}</h3>
                            <p class="uk-text-meta uk-margin-remove-top">{{ post.post_date }}</p>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <img class="uk-border-circle" width="40" height="40" src="images/avatar.jpg">
                </div>
                <div class="uk-card-footer">
                    <a href="{{ url_for('get_post', post_id=post._id) }}" class="uk-button uk-button-text">Read more</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</div>

{% endblock %}
