{% block styles %} 

<link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/login.css') }}"
    />

{% endblock%}

{% extends "base.html" %}
{% block content %}

<div class="uk-card uk-card-default uk-card-body uk-width-1-2@m uk-align-center uk-border-rounded form__card uk-position-center">
    <!-- form header -->
    <h3 class="uk-card-title center-align signup__title">JOIN US!</h3>
    <p class="signup-text center-align">We would love to have you as part of our team</p>

    <!-- form content -->
    <form class="center-align" method="POST" action="{{ url_for('register') }}">

    <!-- first name -->
        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: user"></span>
                <input class="uk-input uk-border-rounded" type="text" id="firstname" name="firstname" placeholder="First Name" required>
                <label for="firstname"></label>
            </div>
        </div>
    <!-- last name -->
        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: user"></span>
                <input class="uk-input uk-border-rounded" type="text" id="lastname" name="lastname" placeholder="Last Name" required>
                <label for="lastname"></label>
            </div>
        </div>
    <!-- username -->
        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: user"></span>
                <input class="uk-input uk-border-rounded" type="text" id="username" name="username" placeholder="Username" required>
                <label for="username"></label>
            </div>
        </div>
    <!-- email -->
        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: mail"></span>
                <input class="uk-input uk-border-rounded" type="email" id="email" name="email" placeholder="Email" required>
                <label for="email"></label>
            </div>
        </div>
    <!-- password -->
        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: lock"></span>
                <input class="uk-input uk-border-rounded" minlength="5" maxlength="15" type="password" id="password" name="password" placeholder="Enter A Password" required>
                <label for="password"></label>
            </div>
        </div>
    <!-- sign up button -->
        <button class="uk-button uk-border-rounded signup__btn">SIGN UP</button>

    </form>

    <p class="redirect-login uk-margin-top center-align">
        Already Registered? <a href="{{ url_for('login') }}" class="login-text">Log In Here</a>
    </p>
    

</div>

{% endblock %}